body
{
    background: rgb(218, 218, 218);
    padding-left:20px;
    padding-right: 20px;
}
.f-r
{
display:flex;
width:100%;
}
.jj1
{
    text-align: center;
}
.jj3
{
    position: relative;
    bottom:15px;
}
#navoo
{
    background-image: url(download2.jpg);
    min-height: 110px;
}
.cb{flex-grow:1;min-width: 100px;}
.rb{flex-grow:1;min-width: 100px;}
.lb{flex-grow:1;min-width: 100px;}
.bdy
{
    background: rgb(236, 236, 236);
    width:100%;
    height:auto;
    position: relative;
    top:5px;
    padding:10px;
}
a.cmn
{
    background: rgb(66, 0, 128);
}
a.btn:hover
{
    background: rgb(130, 4, 214);
}
footer
{
    min-height:20%;
    background: indigo;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    color:rgba(255, 255, 255, 0.897);
    display:flex;
    justify-content: space-between
}
@media screen and (max-width:600px)
{

}
