<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/assets/css/style_index.css" type="text/css">
    <link rel="stylesheet" href="../../static/assets/css/materialize-v1.0.0/materialize/css/materialize.min.css">

</head>

<body>
    <nav id="navoo">
<h3 class="jj1 jj2">CID</h3>
<h4 class="jj1 jj3">Complete Identification Digitalization</h4>
    </nav>
    <div class="f-r">
        <a href="{% url 'authentication:useradd' %}" id="linko" class="btn cmn cb">create</a>
        <a href="report.html" id="linko" class="btn cmn rb">report </a>
        <a href="{% url 'login' %}" id="linko" class="btn cmn lb">login </a>
    </div>
    <div class="bdy">
        <div class="row">
            <div class="col xl6 l6 m6 s12">
                <div class="card ccdd">
                
                    <div class="card-title">
                        <h4>News</h4>
                    </div>
                    <div class="card-image">
                        <img src="pics/fing-holog.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam illo, nemo quos suscipit at
                            laudantium nihil recusandae earum! Libero provident enim repellendus quia delectus dignissimos corporis
                            consectetur quaerat quidem.</p>
                    </div>
                
                </div>
            </div>
            <div class="col xl6 l6 m6 s12">
                <div class="card ccdd">
            
                    <div class="card-title">
                        <h4>News</h4>
                    </div>
                    <div class="card-image">
                        <img src="pics/fing-holog.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam illo, nemo quos suscipit at
                            laudantium nihil recusandae earum! Libero provident enim repellendus quia delectus dignissimos corporis
                            consectetur quaerat quidem.</p>
                    </div>
            
                </div>
            </div>
            <div class="col xl6 l6 m6 s12">
                <div class="card ccdd">
            
                    <div class="card-title">
                        <h4>News</h4>
                    </div>
                    <div class="card-image">
                        <img src="pics/fing-holog.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam illo, nemo quos suscipit at
                            laudantium nihil recusandae earum! Libero provident enim repellendus quia delectus dignissimos corporis
                            consectetur quaerat quidem.</p>
                    </div>
            
                </div>
            </div>
            <div class="col xl6 l6 m6 s12">
                <div class="card ccdd">
            
                    <div class="card-title">
                        <h4>News</h4>
                    </div>
                    <div class="card-image">
                        <img src="pics/fing-holog.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam illo, nemo quos suscipit at
                            laudantium nihil recusandae earum! Libero provident enim repellendus quia delectus dignissimos corporis
                            consectetur quaerat quidem.</p>
                    </div>
            
                </div>
            </div>
            
        </div>
        

    </div>
    <div class="footer">
        <footer>
            <p>copy right</p>
            <p>contact</p>
            <p>terms</p>
            <p>procedures</p>
        </footer>
    
    </div>
</body>

</html>